{% style %}

.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: rgba(000,000,000,0.7);
  width: 40px;
  font-size: 25px;
  line-height: 42px;
  color: #fff;
  padding: 0px;
  text-align: center;
  border-radius: 50px;
  height: 40px;
  transform: rotatez(
  -90deg);
  transition: .2s ease-in-out;
}

.arrow-up:hover {
  background: rgba(000,000,000,0.9);
}

{% endstyle %}


<div id="topscroll" class="arrow-up">➤</div>


<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
$(function(){
  $.fn.scrollToTop=function(){
    $(this).hide().removeAttr("href");
    if($(window).scrollTop()!="0"){
      $(this).fadeIn("slow")
    }
    var scrollDiv=$(this);
    $(window).scroll(function(){
      if($(window).scrollTop()=="0"){
        $(scrollDiv).fadeOut("slow")
      } else {
        $(scrollDiv).fadeIn("slow")
      }
    });
    $(this).click(function(){
      $("html, body").animate({scrollTop:0},"slow")
    })
  }
});

$(function(){
  $("#topscroll").scrollToTop();
});

</script>
